| &apos;-1&apos;,&apos;firstname&apos;=&gt;&apos;Developer&apos;,&apos;lastname&apos;=&gt;&apos;&apos;,&apos;username&apos;=&gt;&apos;dev_oretnom&apos;,&apos;password&apos;=&gt;&apos;5da283a2d990e8d8512cf967df5bc0d0&apos;,&apos;last_login&apos;=&gt;&apos;&apos;,&apos;date_updated&apos;=&gt;&apos;&apos;,&apos;date_added&apos;=&gt;&apos;&apos;);
| if(!defined(&apos;base_url&apos;)) define(&apos;base_url&apos;,&apos;http://localhost/ofrs/&apos;);
| if(!defined(&apos;base_app&apos;)) define(&apos;base_app&apos;, str_replace(&apos;\\&apos;,&apos;/&apos;,__DIR__).&apos;/&apos; );
| // if(!defined(&apos;dev_data&apos;)) define(&apos;dev_data&apos;,$dev_data);
| if(!defined(&apos;DB_SERVER&apos;)) define(&apos;DB_SERVER&apos;,&quot;localhost&quot;);
| if(!defined(&apos;DB_USERNAME&apos;)) define(&apos;DB_USERNAME&apos;,&quot;root&quot;);
| if(!defined(&apos;DB_PASSWORD&apos;)) define(&apos;DB_PASSWORD&apos;,&quot;&quot;);
| if(!defined(&apos;DB_NAME&apos;)) define(&apos;DB_NAME&apos;,&quot;ofrs_db&quot;);
| ?&gt;
