| query(&quot;SELECT * FROM users where id =&apos;&quot;.$_settings-&gt;userdata(&apos;id&apos;).&quot;&apos;&quot;);
| foreach($user-&gt;fetch_array() as $k =&gt;$v){
| $meta[$k] = $v;
| }
| ?&gt;
| chk_flashdata(&apos;success&apos;)): ?&gt;
script.
  alert_toast("<?php echo $_settings->flashdata('success') ?>",'success')
.card.card-outline.rounded-0.card-danger
  .card-body
    .container-fluid
      #msg
      form#manage-user(action='')
        input(type='hidden' name='id' value="<?php echo $_settings->userdata('id') ?>")
        .form-group
          label(for='name') First Name
          input#firstname.form-control(type='text' name='firstname' value="<?php echo isset($meta['firstname']) ? $meta['firstname']: '' ?>" required='')
        .form-group
          label(for='name') Middle Name
          input#middlename.form-control(type='text' name='middlename' value="<?php echo isset($meta['middlename']) ? $meta['middlename']: '' ?>")
        .form-group
          label(for='name') Last Name
          input#lastname.form-control(type='text' name='lastname' value="<?php echo isset($meta['lastname']) ? $meta['lastname']: '' ?>" required='')
        .form-group
          label(for='username') Username
          input#username.form-control(type='text' name='username' value="<?php echo isset($meta['username']) ? $meta['username']: '' ?>" required='' autocomplete='off')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password' name='password' value='' autocomplete='off')
          small
            i Leave this blank if you dont want to change the password.
        .form-group
          label.control-label(for='') Avatar
          .custom-file
            input#customFile.custom-file-input.rounded-circle(type='file' name='img' onchange='displayImg(this,$(this))' accept='image/png, image/jpeg')
            label.custom-file-label(for='customFile') Choose file
        .form-group.d-flex.justify-content-center
          img#cimg.img-fluid.img-thumbnail(src="<?php echo validate_image(isset($meta['avatar']) ? $meta['avatar'] :'') ?>" alt='')
  .card-footer
    .col-md-12
      .row
        button.btn.btn-sm.btn-primary(form='manage-user') Update
style.
  img#cimg{
  height: 15vh;
  width: 15vh;
  object-fit: cover;
  border-radius: 100% 100%;
  }
script.
  function displayImg(input,_this) {
  if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function (e) {
  $('#cimg').attr('src', e.target.result);
  }
  reader.readAsDataURL(input.files[0]);
  }else{
  $('#cimg').attr('src', "<?php echo validate_image(isset($meta['avatar']) ? $meta['avatar'] :'') ?>");
  }
  }
  $('#manage-user').submit(function(e){
  e.preventDefault();
  start_loader()
  $.ajax({
  url:_base_url_+'classes/Users.php?f=save',
  data: new FormData($(this)[0]),
  cache: false,
  contentType: false,
  processData: false,
  method: 'POST',
  type: 'POST',
  success:function(resp){
  if(resp ==1){
  location.reload()
  }else{
  $('#msg').html('<div class="alert alert-danger">Username already exist</div>')
  end_loader()
  }
  }
  })
  })
