| chk_flashdata(&apos;success&apos;)): ?&gt;
script.
  alert_toast("<?php echo $_settings->flashdata('success') ?>",'success')
.content.py-5.px-3.bg-gradient-danger
  h2
    b Contact information
.row.mt-lg-n4.mt-md-n4.justify-content-center
  .col-lg-8.col-md-10.col-sm-12.col-xs-12
    .card.rounded-0.shadow
      .card-body
        form#system-frm(action='')
          #msg.form-group
          .form-group
            label.control-label(for='phone') Telephone #
            input#phone.form-control.form-control-sm.rounded-0(type='text' name='phone' value="<?php echo $_settings->info('phone') ?>")
          .form-group
            label.control-label(for='mobile') Mobile #
            input#mobile.form-control.form-control-sm.rounded-0(type='text' name='mobile' value="<?php echo $_settings->info('mobile') ?>")
          .form-group
            label.control-label(for='email') Email
            input#email.form-control.form-control-sm.rounded-0(type='email' name='email' value="<?php echo $_settings->info('email') ?>")
          .form-group
            label.control-label(for='address') Address
            textarea#address.form-control.form-control-sm.rounded-0(row='3' name='address') info(&apos;address&apos;) ?&gt;
      .card-footer
        .col-md-12
          .row
            button.btn.btn-sm.btn-primary(form='system-frm') Update Prices
script.
