style.
  .user-img{
  position: absolute;
  height: 27px;
  width: 27px;
  object-fit: cover;
  left: -7%;
  top: -12%;
  }
  .btn-rounded{
  border-radius: 50px;
  }
// Navbar
nav.main-header.navbar.navbar-expand.navbar-light.shadow.text-sm
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu' href='#' role='button')
        i.fas.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='<?php echo base_url ?>') info(&apos;name&apos;):$_settings-&gt;info(&apos;short_name&apos;); ?&gt; - Admin
  // Right navbar links
  ul.navbar-nav.ml-auto
    // Navbar Search
    //
      <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
      <i class="fas fa-search"></i>
      </a>
      <div class="navbar-search-block">
      <form class="form-inline">
      <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
      <button class="btn btn-navbar" type="submit">
      <i class="fas fa-search"></i>
      </button>
      <button class="btn btn-navbar" type="button" data-widget="navbar-search">
      <i class="fas fa-times"></i>
      </button>
      </div>
      </div>
      </form>
      </div>
      </li>
    // Messages Dropdown Menu
    li.nav-item
      .btn-group.nav-link
        button.btn.btn-rounded.badge.badge-light.dropdown-toggle.dropdown-icon(type='button' data-toggle='dropdown')
          span
            img.img-circle.elevation-2.user-img(src="<?php echo validate_image($_settings->userdata('avatar')) ?>" alt='User Image')
          span.ml-3 userdata(&apos;firstname&apos;).&apos; &apos;.$_settings-&gt;userdata(&apos;lastname&apos;)) ?&gt;
          span.sr-only Toggle Dropdown
        .dropdown-menu(role='menu')
          a.dropdown-item(href="<?php echo base_url.'admin/?page=user' ?>")
            span.fa.fa-user
            |  My Account
          .dropdown-divider
          a.dropdown-item(href="<?php echo base_url.'/classes/Login.php?f=logout' ?>")
            span.fas.fa-sign-out-alt
            |  Logout
    li.nav-item
    //
      <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
      <i class="fas fa-th-large"></i>
      </a>
      </li>
// /.navbar
